@{
    ViewBag.Title = "Corredores Davivienda";
}

<div class="jumbotron">
    <h1>Hola, bienvenido!</h1>
    <p class="lead">Mi nombre es Juan Camilo Castañeda Camacho, ingeniero electronico y de telecomunicaciones</p>
    <p><a href="https://drive.google.com/file/d/18J7ZUq7bhB8WkCjRzuBQn6xICwLJlb7j/view?usp=sharing" class="btn btn-primary btn-lg">Conoce mi hoja de vida &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Punto 5</h2>
        <p>
            Operaciones CRUD usando Entity Framework.
            En la sección de Productos y Clientes se encontrará unas tablas con las operaciones CRUD disponibles para su debida gestión.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Punto 6</h2>
        <p>Se implementó el uso de SQL Server para el apoyo en la conexión Servidor - Cliente.</p>
        
    </div>

</div>